{% extends "layout/base.html" %}
{% block main_content %}
    {% load static %}
    <div class="main-content-inner">
        <div class="row">

            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">View Users</h4>
                        {% if messages %}
                            <div class="span12">
                                {% for message in messages %}
                                    <div class="alert alert-success">
                                        {{ message|safe }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="data-tables datatable-dark">
                            <table id="dataTable3" class="text-center">
                                <thead class="text-capitalize">
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Police ID</th>

                                    <th>Joined Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.created_at }}</td>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dark table end -->
        </div>
    </div>
{% endblock %}
{% block js_content %}
    <script src="{% static  'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
{% endblock %}